header{
    display: flex;
    justify-content: space-between;
    background-color: #282256;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
  
}

nav{
    text-align: right;
}

a {
    display:inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "fira code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;

  }
  a::before {
    content: "";
    display: inline-block;
    background-color: #59A9C2;
    width: 10px;
    height: 10px;
    margin-right: 10px;
  }

  #button {
    display: inline-block;
    background-color: #59A9C2;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0;
    transition: transform 100ms cubic-bezier(0.09, 0.89, 0.82, 0.78);

  }
  #button:hover{
    color: #000;
    transform: scale(1.1);
  }
  
